.cog__notification__find {
  bottom: 33px;
  left: 95px;
}


.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  margin: 25px 0px;
  padding: 25px 0px;
}

.recommended-friends__title {
  font-size: 12px;
  color: var(--grey-);
}

.recommended-friends span {
  margin: 100px 0;
  display: block;
  color: var(--grey);
  text-align: center;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
  margin-bottom: 15px;
}

.open-post__first,
.open-post__second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin: 10px 0;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 7px;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  margin-right: 3px;
  font-size: 14px;
  color: var(--grey);
}

.open-post__members .divider {
  width: 1px;
  height: 13px;
  background-color: var(--grey);
  margin: 0 5px;
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  height: 120px;
  width: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

.open-post__divider span {
  margin-bottom: var(--main-border);
}
