.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcome-header__text {
  width: 60%;
  opacity: 70%;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.login-form input {
  transition: border-bottom-color 0.5s ease-in-out;
}

.login-form :focus {
  border-bottom-color: var(--yellow);
}

.login-form__username,
.login-form__password {
  padding: 15px 0px;
  border: none;
  font-size: 18px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
}

.login-form__log-in,
.login-form__sign-up {
  border-style: none;
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
  margin: 5px;
}

.login-form__log-in:hover,
.login-form__sign-up:hover {
  background-color: var(--yellow);
}

.login-form__link {
  text-align: center;
  text-decoration: none;
  border-bottom: none;
  color: inherit;
  font-size: 13px;
}
