.more-screen .icon-row {
  margin-top: 35px;
}

.more-screen .second-line {
  display: flex;
  justify-content: start;
}

.more-screen .second-line .icon-row__icons {
  margin-right: 15%;
}

.cog__notification__more {
  bottom: 33px;
  left: 157px;
}

.user-component__subtitle .fa-exclamation-circle {
  color: red;
  opacity: 0.6;
  margin-left: 3px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
}

.more-suggestions__title {
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-suggestions__icon-image i {
  color: white;
  font-size: 25px;
}

.more-suggestions__icon-text {
  opacity: 0.7;
  margin-top: 10px;
}
