.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
}

.nav__notification {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  display: flex; /*why flex still let span have width &height? because flex also contains block inside of it*/
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.ellipsis__notification {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  left: 30px;
  background-color: tomato;
  display: flex;
  position: absolute;
}
